:root {
  --primaryColor: #6bbc57;
  --secondaryColor: #f3f2f2;
  --thirdColor: #808080;
  --primaryFont: "Signika", sans-serif;
}

h1 {
  /* font-family: "Signika", sans-serif; */
  font-weight: 900;
  font-size: 90px;
  margin: 0;
}
h2 {
  font-size: 40px;
  margin: 0;
}

h3 {
  font-size: 30px;
  margin: 0;
}

h4 {
  font-size: 1.8vw;
}

h5 {
  font-weight: lighter;
}

body {
  font-family: var(--primaryFont);
}

/* NAV */

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 5vw;
  color: var(--primaryColor);
  font-weight: 550;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 90vw;
}
.nav-wrapper img {
  height: 5vh;
}

/* HEADER SECTION */

.section1-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  margin-top: 9vh;
}

.section1-wrapper .titles-wrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: var(--primaryColor);
  height: 100%;
  color: white;
  text-align: center;
}

.titles-wrapper h1 {
  padding: 0 10vw;
}

.titles-wrapper h1 {
  margin: 5vh 0;
}

.titles-wrapper h1,
h2,
h3 {
  margin: 3vh 0;
}

.image-wrapper {
  width: 40vw;
  height: 100%;
  background: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
}

/* FEATURES SECTION */

.all-features-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3vw 1vw;
}

.all-features-wrapper .feature-wrapper img {
  width: 7vw;
}

.all-features-wrapper .feature-wrapper {
  text-align: center;
  padding: 0 5vw;
  width: 30vw;
}

.all-features-wrapper .feature-wrapper h3 {
  color: var(--primaryColor);
}

.all-features-wrapper .feature-wrapper h4 {
  color: #2c2c2c;
  font-weight: lighter;
}

/* PLANS SECTION */

.plans-section-wrapper {
  height: 70vh;
  background: var(--primaryColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
}

.plans-section-wrapper .flex-row {
  display: flex;
  align-items: center;
  height: 100%;
}

.plans-section-wrapper .image-wrapper {
  width: 70vw;
}

.plans-section-wrapper img {
  height: 100%;
  width: auto;
}

.details-section {
  margin: 0;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: var(--primaryColor);
  height: 100%;
  color: white;
  padding: 0 40px;
  text-align: center;
}

.details-section h2,
h4 {
  margin: 2vh;
}

.details-section h5 {
  margin: 1vh;
  font-size: 1.5vw;
}

.appstores-wrapper {
  margin-top: 20px;
  padding-left: 355px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.appstore-iconAndroid {
  width: 4%;
  /* background-color: red; */
  margin-right: 20px;
}

.appstore-iconApple {
  width: 5%;
  /* background-color: blue; */
  padding: 10;
}

.footer-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #6bbc57;
}

.credit {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text1 {
  font-size: 22px;
  text-align: center;
  color: white;
  padding: 0;
  margin-top: 10px;
  margin-bottom: -10px;
}

.text {
  color: white;
  padding: 0;
  margin-bottom: 10px;
}

.barcelona-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.barcelona-icon {
  width: 7%;
  padding-left: 10px;
}
